@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
}

:root {
  --color-primary-50: oklch(0.95 0.01 79.78);
  --color-primary-100: oklch(0.91 0.02 78.21);
  --color-primary-200: oklch(0.87 0.04 78.65);
  --color-primary-300: oklch(0.83 0.05 77.98);
  --color-primary-400: oklch(0.77 0.07 82.12);
  --color-primary-500: oklch(0.72 0.1 85.1);
  --color-primary-600: oklch(0.67 0.12 83.83);
  --color-primary-700: oklch(0.61 0.11 83.42);
  --color-primary-800: oklch(0.56 0.1 83.81);
  --color-primary-900: oklch(0.47 0.08 84.01);
  --color-primary-950: oklch(0.38 0.06 85.88);

  /* stone  */
  --color-stone-50: oklch(0.985 0.001 106.423);
  --color-stone-100: oklch(0.97 0.001 106.424);
  --color-stone-200: oklch(0.923 0.003 48.717);
  --color-stone-300: oklch(0.869 0.005 56.366);
  --color-stone-400: oklch(0.709 0.01 56.259);
  --color-stone-500: oklch(0.553 0.013 58.071);
  --color-stone-600: oklch(0.444 0.011 73.639);
  --color-stone-700: oklch(0.374 0.01 67.558);
  --color-stone-800: oklch(0.268 0.007 34.298);
  --color-stone-900: oklch(0.216 0.006 56.043);
  --color-stone-950: oklch(0.147 0.004 49.25);
}

/* common style  */
section,
footer {
  padding: 28px 16px;
}

/* button style  */
.primary-btn {
  background-color: var(--color-primary-600);
  color: white;
  border: none;
  transition: all 300ms;
}
.primary-btn:hover {
  background-color: var(--color-primary-700);
  cursor: pointer;
}

.primary-btn:active {
  transform: scale(1.01);
}

.btn-secondary {
  padding: 8px 16px;
  font-weight: 500;
  border: var(--primary-600) 2px solid;
  background-color: transparent;
  color: var(--primary-600);
  transition: all 300ms;
}
.btn-secondary:hover {
  background-color: var(--color-primary-50);
  color: #96711b;
}

.btn-secondary:active {
  transform: scale(1.01);
}

.title-1 {
  color: var(--color-stone-900);
}
/* common style end */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 16px;
}
.navbar .logo {
  width: 120px;
}
.navbar svg:hover {
  cursor: pointer;
}
.logo:hover {
  cursor: pointer;
}
.menu {
  display: none;
}
.menu.toggle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  padding: 16px;
}
.navbar .icon-container {
  display: none;
}
.navbar .menu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.menu-header .imIcon {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar .menu-item a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: all;
  transition-duration: 150ms;
}
.navbar .menu-item a:hover {
  border-bottom: 2px solid gray;
}

header .hero {
  background-image: url(./assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 16px;
}

.hero .card {
  max-width: 440px;
  max-height: 440px;
  background-color: var(--color-primary-50);
  padding: 40px 30px;
  border-radius: 10px;
}

.hero .card .hero-text {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  color: var(--color-primary-600);
}
.hero .card .subtitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-stone-700);
  margin-bottom: 4px;
}
.hero .card .text {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-stone-700);
  margin-top: 8px;
}

.card .buy-btn {
  padding: 16px 52px;
  text-transform: uppercase;
  margin-top: 26px;
  font-weight: bold;
}

.browse-category .heading {
  color: var(--color-primary-950);
  text-align: center;
  margin-bottom: 10px;
}
.browse-category .subtitle {
  color: var(--color-stone-700);
  text-align: center;
  margin-bottom: 20px;
}
.browse-category .cards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
}
.browse-category .card {
  text-align: center;
  width: 100%;
}
.browse-category .card img {
  width: 100%;
  display: block;
}

.products .heading {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-primary-950);
}
.products .cards {
  display: grid;
  gap: 16px;
  grid-template-columns: auto auto;
}

.products .card {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.products .card:hover {
  cursor: pointer;
}
.products .card img {
  width: 100%;
  display: block;
}
.products .card .thum {
  position: relative;
}
.products .card .discount {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  padding: 0 4px;
  border-radius: 100%;
  font-size: 12px;
  margin: 8px;
  background-color: red;
  color: white;
}

.products .card .price {
  display: flex;
  gap: 4px;
  text-align: center;
  justify-content: space-between;
}
.products .card .title {
  color: var(--color-stone-700);
}
.products .card .des {
  font-weight: 400;
  color: var(--color-stone-700);
}

.products .current-price {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-stone-800);
}

.products .card .prev-price {
  font-size: 14px;
  text-decoration: line-through;
  color: var(--color-stone-400);
}

.products .des-body {
  background-color: var(--light-bg);
  padding: 12px;
}

.products .overlay {
  position: absolute;
  bottom: -0;
  opacity: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.72);
  width: 100%;
  height: 100%;
  transition: all;
  transition-duration: 150ms;
  padding: 16px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}
.products .overlay .btn {
  border: none;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  padding: 12px 52px;
  align-self: center;
  border: 2px solid transparent;
}
.products .overlay .btn:hover {
  border: 2px solid var(--primary-color);
}
.products .overlay .icon-group {
  color: white;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.icon-group span {
  font-size: 14px;
}
.overlay .icon-group > div:hover {
  font-weight: bold;
}
.products .card:hover .overlay {
  opacity: 1;
}
.show-more-btn-container {
  text-align: center;
  padding: 20px 0;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.slider-container .info {
  padding: 40px;
}

.slider-container .slider {
  position: relative;
  width: 100%;
}
.slider-container .heading {
  margin-bottom: 4px;
  color: var(--color-stone-500);
}
.slider-container .des {
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--primary-sub-text);
}
.slider-container .explore-btn {
  padding: 8px 25px;
  font-weight: 500;
}
.slider .slide-img {
  display: flex;
  gap: 4px;
}

.slider .card {
  position: relative;
  height: fit-content;
  display: none;
}
.slider .card img {
  width: 100%;
}
.slider .info-img {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: end;
  padding: 16px;
}

.slider .info-img .text {
  background-color: rgba(255, 255, 255, 0.72);
  padding: 16px;
}
.info-img button {
  background-color: var(--primary-color);
  display: flex;
  border: none;
  padding: 4px;
  color: white;
  z-index: 10;
}
.info-img button:hover {
  cursor: pointer;
}
.info-img .text p {
  font-size: 12px;
}
.info-img .text h1 {
  font-size: 16px;
}
.slider .card.active,
.card.active2 {
  display: block;
  width: 100%;
}

.slider .card.active2 {
  width: 80%;
}

.card.active2 .info-img {
  display: none;
}
.slider .right-arrow,
.left-arrow {
  position: absolute;
  height: 100%;

  display: flex;
  align-items: center;
}

.slider .left-arrow {
  left: 4px;
}
.slider .right-arrow {
  right: 4px;
}

.right-arrow button,
.left-arrow button {
  background-color: white;
  aspect-ratio: 1/1;
  padding: 6px;
  display: flex;
  box-shadow: 1px 1px 5px 1px #898989;
  align-items: center;
  width: fit-content;
  border: none;
  border-radius: 100%;
  color: var(--primary-color);
}
.slider .arrow-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: transparent;
}
.gallery-section {
  margin-top: 28px;
}
.gallery-section .gallery {
  display: flex;
  height: 500px;
  overflow: hidden;
}
.gallery img {
  height: 100%;
}

.gallery-section .subtitle,
.gallery-section .title {
  text-align: center;
}
.gallery-section .title {
  color: var(--gray-2-color);
  margin-bottom: 24px;
}
.gallery-section .subtitle {
  color: var(--primary-sub-text);
}
.footer-navs {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 32px;
  row-gap: 30px;
}

.footer-navs .items {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-navs .help .items {
  display: flex;
  flex-direction: column;
}
.footer-navs .location .des {
  color: var(--gray-4-color);
}
.footer-navs .location .logo {
  margin-bottom: 30px;
}
.slider-section {
  background-color: var(--primary-bg);
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.17);
  margin-top: 28px;
}

footer .copyright {
  padding-top: 22px;
  border-top: 1px solid rgba(0, 0, 0, 0.17);
}

.links h1,
.help h1,
.newsletter h1 {
  color: var(--primary-sub-text);
  font-size: 14px;
  font-weight: normal;
}
.newsletter h1 {
  margin-bottom: 30px;
}
.items a {
  text-decoration: none;
  color: black;
}
.newsletter .mail {
  border: none;
  padding-bottom: 6px;
  font-size: 14px;
  border-bottom: 1px solid black;
  width: 250px;
}
.newsletter .box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.newsletter .box button {
  border: none;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid black;
  background-color: transparent;
  text-transform: uppercase;
}

input:focus {
  outline: 0;
}
button:hover {
  cursor: pointer;
}
